/* Popup html */
body{
  min-width:400px;
  min-height:550px;
  background-color: rgb(51, 52, 51);
  color:rgb(226, 123, 16);
}


.header p{
  display:inline;
  float:right;
}

#popup1, #popup2{
  display:none;
}

.popupC {
  padding-top: 40px;
}

.cptDetails{
  padding: 5px 10px !important;
  height:24px !important;
}

#addCptInput{
  padding: 5px 10px !important;
  height:30px !important;
  max-width: 80px;
  display:block;
  margin-top:12px;
}

#inputAdd{
  padding:0px 12px;
  height:30px;
  margin-top:-2px !important;
}

#rowAdd{
  margin-top: 5px
}

.select2-dropdown {
  color:black;
}

#inputCharge{
  max-width: 80px;
  display:inline-block;
  float:right;
}

.cptbtn{
  width:67px;
  margin-top:5px;
  margin-bottom:5px;
}

p.deleted{
  font-weight: bold;
  font-size:16px;
}

.noOverflow{
  overflow:hidden;
}

span.link{
  color:rgb(21, 210, 188)
}


#cptMsg, #dateMsg{
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 10px;
  height: 18px;
  display:inline-block;
}

#cptForm{
  margin-bottom: 0px;
}
h4.marginLeft{
  margin-left: 15px;
  display:inline-block;
}
#beta{
  display:inline-block;
}
.supported{
  color:rgb(19, 233, 85)
}

.warning{
  color:rgba(255, 230, 0, 0.76)
}

.notSupported{
  color:rgb(219, 5, 5)
}

#directionList{
  padding-left: 18px;
}

.smallPadding{
  padding-top:4px;
  padding-bottom: 4px;
}

.date{
  padding-right:5px !important;
  padding-left:5px !important;
}

.status-row{
  margin-top: 10px;
}
.small-addon{
  padding: 4px 4px !important;
}

.buttons-row{
  margin-top:18px;
}

#fillResponse{
  margin-top:18px;
  font-size: 16px;
}


.success{
  color:rgb(12, 227, 40);
}

.fail{
  color:rgb(232, 17, 17)
}

.header h1{
  display:inline-block;
}

.header h4{
  display:inline-block;
}

#shortcut{
  margin-top:5px;
}

.bold{
  font-weight: bold;
}
#undoForm{
  color:rgb(0, 0, 0)
}

#chromeBtn{
  margin-left: 20px;
}
#githubBtn{
  float:right;
  margin-right: 20px;
}
.secondRow{
  margin-top: 8px;
}
#demoButton{
  float:right;
  margin-right:20px;
  margin-top:5px;
}
li.answer{
  list-style-type: none;
  margin-bottom:8px;
}
.faqUl{
  margin-top:10px;
  margin-left:0px;
}
#faqs{
  margin-top:10px;
  margin-bottom: 5px;
}

a{
  color:rgb(122, 155, 252)
}
a:hover{
  color:rgb(61, 238, 222)
}

/* Bootstrap Overrides */

h1{
  margin-top:15px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px !important;
}

.nav-tabs {
  border-bottom: 1px solid #797979;

}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: rgb(226, 123, 16);
  cursor: default;
  background-color: rgb(51, 52, 51);
  border: 1px solid #797979;
  border-bottom-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav > li >a{
  color:rgb(138, 133, 133)
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.form-control{
  height: 30px;
  padding: 4px 10px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
}

#OAoptions{
  padding-top:12px;
}

/*jQuery Validator overrides*/
label.error{
  color:red;
}

p.valid{
  color:rgb(12, 227, 40);
}

#inputDelete{
  margin-top:15px;
}
