body {
	font-family:Arial, Helvetica, sans-serif; dashed
	font-size:10px; font-weight:normal; 
	background-color: #ffffff;
	margin:5px;
}

.smallheader {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px; font-weight:bold; 
	background-color: #ffffff;
}

.mytable {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; font-weight:normal; 
}

.outertable {
	border-left:1px solid #C2BCB3;	
	border-top:2px solid #C2BCB3;
	border-right:1px solid #C2BCB3;
	border-bottom:2px solid #C2BCB3;
}

.div {
	border-right:1px solid #8d8489;
	border-bottom:1px solid #8d8489;
}
.div2 {
	border-left:1px solid #8d8489;
	border-right:1px solid #8d8489;
	border-bottom:1px solid #8d8489;
}
.div3 {
	border-top:1px solid #8d8489;
}
.divt {
	border-right:1px solid #8d8489;
	border-bottom:1px solid #8d8489;
	vertical-align: top;
	margin-top: 10px;
}
.linediv {
	border-right:1px solid #8d8489;
	border-bottom:1px solid #8d8489; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:9px; color:#000000;
	font-weight: normal;
	background-color:#FFFFFF;       
}

.semidiv {
	border-right:1px solid #8d8489;
}

.notreq,.char2,.char4,.char3,.char30 { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; color:#000000;
	font-weight: normal;
	background-color:#FFFFFF; }

.req { 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; color:#000000;
	font-weight: normal;
	background-color:#FFFF99; }

.dotted { 
	border-right:1px dashed #8d8489;
}

.bottomdotted { 
	border-bottom:1px dashed #8d8489;
}

.invert {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; color:#FFFFFF;
	font-weight: normal;
	background-color:#000000;
}

.signline {
	border-bottom:1px solid #000000;
}

.char2 {
	width: 20px;
}
.char3 {
	width: 28px;
}
.char4 {
	width: 34px;
}
.char30 {
	width: 100px;
}
.dotteduline { 
	border-right:1px dashed #8d8489;
	border-bottom:1px solid #8d8489;
}

.uline { 
	border-bottom:1px solid #8d8489;
}

.formButton {                                              
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; color:#000000;
	font-weight: normal;
}

.Notes  {
      font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; font-weight:normal; 
	background-color: #ffffff;
	margin:5px;
}
    
.FormHeader  {
       font-family:Arial, Helvetica, sans-serif; 
 	font-size:14px; font-weight:normal; 
 	background-color: #ffffff;
 	margin:5px;
}

/* Added for SPRF 4-13859 Start */
/* Added to display the dotted lines */

.dottedline {
    border-right:1px solid #8d8489;
	border-bottom:1px dashed #8d8489;
}

/* Added to get the standard button look */
.button
 {
	font: normal 10px Arial, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	background-color:#1C509F;
	height: 17px;
	border: none;
	text-align: center;
	vertical-align: middle;
 }

/* Added for SPRF 4-13859 End */