/* ALL CHANGES MADE DURING JANUARY 2008 BRANDING UPDATE WILL BE INDICATED BY "[BRANDING2008]" */
/* ALL CHANGES MADE DURING NOVEMBER 2011 MASTER BRANDING(4-45744) BY VIPIN BOHRA (UHGIS) UPDATE WILL BE INDICATED BY "[BRANDING2011]" */

/* [BRANDING2008] Added background image */
body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: url( "../Images/background-sidebars.gif" ) no-repeat top middle;
}
/* [BRANDING2008] Removed background image and stray # */
/* [BRANDING2011] Changed background color now it will like a gradient# */
.bodytan
{
	background-attachment: fixed;
	background-image: url( "../Images/UHCOnline_BGgradient.jpg" );
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #CED9EA;
	margin: 10px;
}
.bodywhite
{
	background-color:#FFFFFF;
}

.tabin
{
	margin-left: 10px;
	}

/* [BRANDING2008] Fixed missing ;  */
.input
{
  font: normal 11px Arial, sans-serif;
  color: #48402A;
  background-color: #FFFFFF;
  border: 1px;
  border-color: #695D54;
  border-style:solid;
  }
/* [BRANDING2011] Added new class for Search text box in footer */
/* [BRANDING2015] Changed the width */
.input_search_master
{
  font: normal 11px Arial, sans-serif;
  color: #48402A;
  width:126px;
  border: 1px solid #CCC;
  padding: 6px 6px 6px 28px;
  box-shadow: 0px 1px 8px 0px #D9D6D6 inset;
  background: transparent url("../Images/search.gif") no-repeat scroll 7px center;
  }

 
/* [BRANDING2008] Fixed missing ;  */
 .pulldown
{
  font: normal 11px Arial, sans-serif;
  color: #48402A;
  background-color: #ffffff;
  }

/* [BRANDING2008] Changed button background color  */  
  .button
 {
	font: normal 10px Arial, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	background-color:#222c80;
	height: 17px;
	border: none;
	text-align: center;
	vertical-align: middle;
 }


/* [BRANDING2008] Changed button background color  */ 
   .button2
 {
	font: normal 11px Arial, sans-serif;
	width: 80px;
	font-weight: normal;
	color:#FFFFFF;
	background-color:#222c80;
	height: 18px;
	border: 1px solid #FFFFFF;
 }
/* [BRANDING2011] Add a new class for  button in header */ 
 .button_master
 {
	font: normal 10px Arial, sans-serif;
	background-color: #1C3E95;
border-radius: 4px;
border: 0px none;
padding: 7px 10px;
color: #FFF;
margin-left: 12px;
 }
 
    .alertBox
 {
	font: normal 12px Arial, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	background-color:#1C509F;
	height: 17px;
	border: 1px solid #FFFFFF;
 }
 
     .boldWhite
 {
	font: normal 12px Arial, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
 }

/* [BRANDING2008] Changed color  */ 
/* [BRANDING2015] Removed underline  */ 
a
{
	color: #222c80;
	font: normal 12px Arial, sans-serif;
	text-decoration: none;
}
a:hover
{
	color: #ff8c00;
	font: normal 12px Arial, sans-serif;
	text-decoration: none;
	font-weight:bold;
}
.selected-nav-parent a:hover{
    color: #ff8c00;
    font-weight:bold !important;
   
}

hr
{
	height: 2px;
	clear: both;
	border: none;
	background-color: #DF39FA;
	margin: 0px 10px 5px 0px;
	width: 800px;
}

hr.blue
{
	height: 2px;
	clear: both;
	border: solid 1px #D5E2F9;
	background-color: #D5E2F9;
	margin: 2px 0px 5px 0px;
	width: 90%;
}
hr.black
{
	height: 1px;
	clear: both;
	border: solid 1px #000000;
	background-color: #000000;
	margin: 2px 0px 5px 0px;
	width: 99%;
}

#page
{
	margin: 0px;
	width: 986px;
	padding: 0px;
	text-align: left;
	background-color:#FFFFFF
}
/* [BRANDING2011] Change the width to 988px which is common across all tiles */
/* [BRANDING2015] Changed the baclground color */
.page
{
	margin: 0px;
	
	padding: 0px;
	text-align: left;
	background-color:#E6E8E6;
}

#printable
{
	width: 700px;
	margin: 0px auto;
	text-align: left;
	background-color:#FFFFFF;
}

#popup
{
	margin: 0px auto;
	width: 480px;
	text-align: left;
}

.main
{
	height: 100%;
	padding-left: 3px;
}



/* [BRANDING2008] Changed background image  */ 
.dashboard
{
	height: 58px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url( "../Images/topBG.gif" ) repeat-x top left;
}

#dashboard p
{	
	margin: 0px;
	float: left;
	position: relative;
	height: 48;
}

#left
{
	float: left;
	position: relative;
	white-space: nowrap;
}


/* [BRANDING2008] Changed color  */ 
/* [BRANDING2015] Changed the color  */ 
.breadcrumb
{
	white-space: normal;
        font-family: helvetica ;
        font-size: 12px;
	color: #231192;
	text-decoration: none;
	text-align: left;
	text-indent: 3px;
	font-weight: bold;
	padding-left: 13px;
	background: #E8E8E8;
}


/* [BRANDING2015] Removed underline  */
.breadcrumb a
{
	color: #222c80;
	text-decoration: none;
	font-weight: normal;
	
}

.breadcrumb a:hover
{
     color: #ff8c00;
      font-size: 12px;
      font-family: helvetica ;
      font-weight:bold;
}


#right
{
	float: right;
	position: relative;
	white-space: nowrap;
	text-align: right;
	margin-right: 3px;
}

#right2
{
	float: right;
	position: relative;
	white-space: nowrap;
}

/* [BRANDING2008] Added borders  */
/* [BRANDING2011] Changed border color to 457CAE for all tiles */ 
#search
{
	text-align: right;
	font: normal normal normal 11px Arial, sans-serif;
	padding-left: 100px;
	border-right: 1px solid #457CAE;
	border-bottom: 1px solid #457CAE;
	border-left: 1px solid #457CAE;
}

/* [BRANDING2008] Brand new declaration  */
/* [BRANDING2011] Changed border color to 457CAE for all tiles */ 
/* [BRANDING2011] Changed background color to F8F8F8 for all tiles and border to none */
table#search
{
	text-align: right;
	font: normal normal normal 11px Arial, sans-serif;
	padding-left: 100px;
	border-right: 1px solid #457CAE;
	border-bottom: 1px solid #457CAE;
	border-left: 1px solid #457CAE;
	background:#F8F8F8;
}

#search a
{
	color: Black;
}

/* [BRANDING2008] Changed background image, added other declarations  */
 
.topback
{
		width: 988px;
		border-bottom: none;
		border-top: none;
		background: #FFFFFF url( "../Images/topBG.gif" ) repeat-x top left;
}
/* [BRANDING2011] Added new style for applying white border around main body */
.topback_master
{
		width: 988px;
		border-bottom: none;
		border-right: 20px solid white;
	  	border-top: 20px solid white;
	  	border-left: 20px solid white;
		background: #FFFFFF ;
		
}
/* [BRANDING2008] Brand new declaration (Also removed .footerback and image)  */
/* [BRANDING2011] removed background color  */ 
table.footerback td
{
	height:1px;
	vertical-align: top;
}

/* [BRANDING2008] Removed background image and added declarations  */ 
.sideback
{
		width: 988px;		
		border-bottom: none;
		border-top: none;
		background: #FFFFFF;
}
/* [BRANDING2011] Added new style for applying white border around main body */
.sideback_master
{
		width: 988px;
		border-top: none;
		border-bottom:1px solid white;
		border-right: 20px solid white;
	    border-left: 20px solid white;
		background-color: #E6E8E6;
			
}
.navigation
{
	height: 53px;
	padding: 0px;
	margin: 0px;
	background: url('../Images/navback.gif');
	background-repeat: no-repeat;
	width: 984px;
	
}

.eligibilityon
{
	background: url( "../Images/eligibility_on.gif" );
	background-repeat: no-repeat;
	
}

.careon
{
	background: url( "../Images/care_on.gif" );
	background-repeat: no-repeat;
	
}

.claimson
{
	background: url( "../Images/claims_on.gif" );
	background-repeat: no-repeat;
	
}

.toolson
{
	background: url( "../Images/toolson.gif" );
	background-repeat: no-repeat;
	
}

.clinicalon
{
	background: url( "../Images/clinicalon.gif" );
	background-repeat: no-repeat;
	
}

.navbuttons
{
	font: normal normal 11px Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:0px;
    color: #FFFFFF;
	
  	
}

.navbuttons:hover
{
	font: normal normal 11px Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
 	color:#ff8c00;
}

/* [BRANDING2008] Changed Color  */ 
.login
{
	font: normal 11px/16px Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#222c80;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 16px;
	text-indent: 8px;
}
/* [BRANDING2011] Added new class for login tile */
.login_master
{
	font: normal 11px/16px Arial, sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#222c80;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 10px;
	
}
/* [BRANDING2008] Changed Color  */ 
.login a
{
	font: normal normal 10px Arial, sans-serif;
	text-decoration:underline;
	color:#222c80;
	margin-left: 10px;
}

/* [BRANDING2008] Changed Color  */ 
.login a:hover
{
	font: normal normal 10px Arial, sans-serif;
	text-decoration:underline;
	color:#222c80;
	margin-left: 10px;
}

/* [BRANDING2008] Changed background color  */ 
/* [BRANDING2011] modified color of login button */
.loginbutton
 {
	font: normal 10px Arial, sans-serif;
	font-weight: bold;
	color:#FFFFFF;
	background-color:#CD5812;
	height: 18px;
	width:59px;
	border: 0px solid #FFFFFF;
	text-align: center;
 }
/* [BRANDING2008] Changed background color  */ 
.leftnav
{
	background-color: #E6E8E6;
	width: 215px;
	vertical-align: top;
	border-right:1px solid #ccc;
        text-align:left;
}

.sidenav
{
padding: 0px;
margin: 0px;
}

.sidenav td
{
	padding: 8px 0px;
	
}
/*[BRANDING2015] Added line-height*/
.sidenav a
{ 
    font: normal normal 11px Arial, sans-serif;
    text-decoration: none;
    color: #000;
    padding-right: 0px;
    font-weight: bold;
}


/*[BRANDING2015] Added line-height*/
.sidenav a:hover
{ 
     font: normal normal 11px Arial, sans-serif;
     color: darkorange;
     font-weight: bold !important;
}

/* [BRANDING2008] Changed background color and added color  */ 
.sideon
{ 
	font: normal 11px Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    background: #083D7F;
    color: #ffffff;
    padding: 3px;
    margin-top:6px;

}
.sideon-parent
{ 
	font: normal 11px Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    background: #D8D8D8  ;
    color: #000000;
    padding: 3px;

}

/* [BRANDING2008] Changed color  */ 
.sideon a
{ 
color: #222c80;
}

/* [BRANDING2008] Changed color  */ 
.sideon a:hover
{ 
color: #222c80;
}

/* [BRANDING2008] Changed color  */ 
.sideon:hover
{ 
    font: normal 11px Arial, sans-serif;
    font-weight:bold;
    text-decoration: none;
    color: #222c80;
}

/* [BRANDING2015] Added margin-bottom*/
.sidenav img
{
    margin-left: 4px;
    margin-right: 3px;
	margin-bottom: -2px;
}

.sidesub2
{
    padding: 0px;
    margin: 0px;
}

.sidesub2 td
{
	padding: 5px 0px;
}

.sidesub
{
padding: 0px;
margin: 0px;
}

.sidesub td
{
	padding: 5px 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;
}

.sidesub a
{ 
font: normal normal 11px Arial, sans-serif;
text-decoration: none;
color: #535D9E;
}

.sidesub a:hover
{ 
font: normal normal 11px Arial, sans-serif;
text-decoration: underline;
color: #535D9E;
}

.sidesub img
{
margin-left: 4px;
margin-right: 3px;
}

.leftnav ul
{
	list-style: none;
	padding: 5px;
	margin: 5px;
}


.blank
{
background-color:#FFFFFF;
}

#content2
{
	position: relative;
	padding: 5px 3px 3px 0px;
	width: 800px;
}

/* [BRANDING2008] Changed color, background, borders, etc  */
/* [BRANDING2011] removed background color of footer */ 
/* [BRANDING2015] Changed the width of footer and the background color */ 
.footer
{
	font: normal normal normal 11px Arial, sans-serif;
	color: #FFFFFF;
	padding: 0px;
	height: 20px;
	width: 988px;
	background-color: #808080;
	padding-right:0px;
	padding-bottom: 10px;
}

/* [BRANDING2008] Changed color  */ 
/*[BRANDING2015] Margin and float added */
table.footer td
{
	padding-top: 10px;
	margin-left: 150px;
}
/*[BRANDING2015] Margin for paragraph added*/
table.footer td p {
	margin-left: 39px;
}


/* [BRANDING2008] Changed color  */ 
/* [BRANDING2015] Changed color */
/* [BRANDING2015] Fixed margins */

.footer a
{
	font: normal 11px/18px Arial, sans-serif;
	color: #FFFFFF;
    text-decoration:none;
	padding-right: 8px;
}

/* [BRANDING2008] Changed color  */ 
.footer a:hover
{
	font: normal 11px/18px Arial, sans-serif;
	color:#ff8c00;
	padding-right: 8px;
	font-weight:bold;
}

#footer p
{	
	margin: 0px;
	float: left;
	position: relative;
	height: 10;
}

#full
{
	width: 308px;	
	height: 210px;
}

#half
{
	width: 308px;
	height: 101px;
}

#quarter
{
	width: 228px;
	height: 52px;
}

#threequarter
{
	width: 228px;
	height: 130px;
}

#double
{
	width: 466px;
	height: 190px;
}

#doublehalf
{
	width: 471px;
	height: 91px;
}

thead#alert td
{
	background-color: #FDEF6B;
}

.padded
{
	padding: 3px 0px 0px 200px;
}

/* [BRANDING2008] Added margin and width  */ 
.global
{
	padding: 0px 0px 0px 0px;
	margin: 10px;
	width: 600px;
	vertical-align: bottom;
}

/* [BRANDING2008] Changed color  */ 
.globallink
{
	text-decoration: none;
	margin-right: 2px;
	color: #222c80;
	font: normal 11px Arial, sans-serif;
}


/* [BRANDING2008] Fixed margin-left */
.globallink:hover
{
	text-decoration: underline;
	margin-right: 2px;
	color: #222c80;
	font: normal 11px Arial, sans-serif;
}

.go
{
	margin: 20px 0px 0px 8px;
	padding: 1px 5px 1px 5px;
	background-color: #EEEEE9;
	border: 1px Solid #7B9BFF;
}

/* [BRANDING2008] Added background color and changed color  */ 
.links
{
	position: relative;
	background: #DEE4E6;
	
	width: 320px;
	border-top: 2px none #DEE4E6;
	border-right: 2px solid #DEE4E6;
	border-bottom: 2px solid #DEE4E6;
	border-left: 2px solid #DEE4E6;
}

.links p
{
	width: 100%;
	background-color: #949AC1;
	font: normal normal bold 12px Arial, sans-serif;
	height: 20px;
	text-indent: 10px;
	margin: 0px;
}


.links div 
{
	height: 140px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
}

.links ul
{
	list-style-type: none;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
}


.text
{
	font: normal normal bold 12px Arial, sans-serif;
	width: 160px;
	position: relative; 
	float: left;
	text-align: left;
}

.texthead
{
	font: bold normal 12px Arial, sans-serif;
	width: 160px;
	position: relative;
	float: left;
	text-align: left;
	color: #000000;
	text-decoration: none;
}

.texthead:hover
{
	font: bold normal 12px Arial, sans-serif;
	width: 160px;
	position: relative;
	float: left;
	text-align: left;
	color: #000000;
	text-decoration: underline;
}


.results
{
	clear: both;
	border-top: 0px none #F3F1EE;
	border-right: 2px solid #F3F1EE;
	border-bottom: 2px solid #F3F1EE;
	border-left: 2px solid #F3F1EE;
}

.results tr.header td
{
	vertical-align: top;
	height:20px;
	background-color: #E4E0D5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6C4865;
	text-decoration: none;
}

.header {
	background: #cccccc;
	}

.admin
{
	clear: both;
	border-top: 2px none #ABA696;
	border-right: 2px solid #ABA696;
	border-bottom: 2px solid #ABA696;
	border-left: 2px solid #ABA696;
	line-height: 
}


.admin tr.header td
{
	vertical-align: top;
	height:20px;
	background-color: #E4E0D5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6C4865;
	text-decoration: none;
}

.admin1
{
	clear: both;
	border-top: 2px solid #ABA696;
	border-right: 2px solid #ABA696;
	border-bottom: 2px solid #ABA696;
	border-left: 2px solid #ABA696;
	line-height: 
}


.admin1 tr.header td
{
	vertical-align: top;
	height:20px;
	background-color: #E4E0D5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6C4865;
	text-decoration: none;
}

.userdetails td
{
	line-height: 20px;
	vertical-align: top;
}

.userdetails2 td
{
	line-height: 14px;
	vertical-align: top;
}

/* [BRANDING2008] Changed borders  */
/* [BRANDING2011] Changed color to 457CAE for tiles border */
.search
{
	margin-bottom: 4px;
	/*border:1px solid #717171;*/
	
	padding:0px!important;
}
/* [BRANDING2011] Added new class for Spotlight section having orange color as borders */
.search_spotlight
{
	margin-bottom: 4px;
	border-top: none;
	border-right: 1px solid #CD5812;
	border-bottom: 1px solid #CD5812;
	border-left: 1px solid #CD5812;
}
/* [BRANDING2011] Added new class for Learn more section which doesn't have any borders */
.search_learnmore
{
	margin-bottom: 4px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	 
}

/* [BRANDING2008] Brand new declaration which makes borders the same tan color as the bulk of the div  */
/* [BRANDING2011] Changed background color to F8F8F8 for all tiles and border to none */ 
#printPortion table.search, #printPortion table.search td
{
	margin-bottom: 4px;
	border:none;
	background:#F8F8F8;
}

/* [BRANDING2008] Brand new declaration */
table.footer tr td table {
	margin-top: -4px;
	padding-top: 0px;
	background:none;
	}

.tileright
{
	width: 7px;
	background-image: url(../Images/tile_right.gif);
	background-repeat: no-repeat;
}

.tileleft
{
	width: 7px;
	background-image: url(../Images/tile_left.gif);
	background-repeat: no-repeat;
}

.whitelink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration:none;
}

.whitelink:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration:underline;
	}
	
/* [BRANDING2008] Changed background color */
/* [BRANDING2011] Changed background color to F8F8F8 for all tiles and border to none */
.orangeback
{
	border:none;
	background-color: #F8F8F8;
	
}

/* [BRANDING2008] Changed background color */
/* [BRANDING2011] Changed background color to F8F8F8 for all tiles and border to none */
.yellowback
{
	border:none;
	background-color: #F8F8F8;
}

.greenback
{
	background-color: #EDEDEC;
}

/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.greentile
{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border-right: 1px solid #457CAE;
}

/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.browntile

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;

}
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.browntile a

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;

}
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
 .browntile a:hover

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	height: 20px;
	border: none;

}

 /* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.lightbrowntile

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

 /* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.lightbrowntile a

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;

}

/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.lightbrowntile a:hover

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	height: 20px;
	border: none;
}



/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.yellowtile
{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

/* [BRANDING2008] Changed background color, color */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.orangetile
{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}
/* [BRANDING2011] Add a new class for Spotlight tile having orange color*/
.spotlighttile
{
	background: #CD5812;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}
/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.lightorangetile

{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border-bottom: 1px solid #FFFFFF;

}

.orangetile20 .whitelink, .orangetile20 .whitelink:hover

{

	font-weight: normal;

}

 

/* [BRANDING2008] Brand new declaration specific to the "selected" tab on pages like Notification Submission Step 3 */

div table tr td.lightorangetile

{
	background: #dee4e6;
	color: #3e4c58;
	font-weight: bold;
	border-top: 1px solid #3e4c58;

}

/* [BRANDING2008] Changed background color */

div table tr td.orangetile20

{
	background: #a4abc3/*9095bf*/;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
	border-bottom: 1px solid #FFFFFF;

}

/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue and text color to white FFFFFF*/
.purpletile
{
	background-color: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

/* [BRANDING2008] Changed background color, color, added right border */
/* [BRANDING2011] Change the color of the tiles across the application to 457CAE blue*/
.lightpurpletile
{
	background: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

/* [BRANDING2008] Added declaration to show "Related Links" area with different colors */
.lightpurpletile a
{     
	color: #FFFFFF; }
/* [BRANDING2011] Change the color of the related links tile 457CAE blue */
div#hideRelLinks .lightpurpletile
{
	background: #457CAE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
	padding-left: 4px;
}

.bordered
{
	-moz-box-sizing: padding-box;
	border: solid 1px #E8E8E8;
	width: 100%;
	padding: 8px;
}

.borderedorange
{
	-moz-box-sizing: padding-box;
	border: solid 1px #DEE4E6;
	width: 100%;
	
}

.tabbed
{
	-moz-box-sizing: padding-box;
	border: solid 1px #E8E8E8;
	width: 600;
}

table.details 
{
	position: relative;
	float: left;
	margin-right: 15px;
}

.details thead td
{
	margin: 0px;
	font: normal normal bold 13pt Arial, sans-serif;
	font-weight: bold;
	color: #48402A;
	border-bottom: solid 1px #48402A;
	white-space: nowrap;
}

table.details2 
{
	position: relative;
	float: left;
	margin-right: 15px;
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

.details2 thead td
{
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #E4E0D5;
	width: 20%;
}

table.details3 
{
	position: relative;
	float: left;
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

.details3 thead td
{
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #E4E0D5;
	width: 20%;
}

table.details4 
{
	position: relative;
	float: left;
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

.details4 thead td
{
	margin: 0px;
	font: normal normal bold 7pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #E4E0D5;
	width: 20%;
}

table.details5 
{
	position: relative;
	float: left;
	margin-right: 15px;
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

.details5 thead td
{
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #E4E0D5;
	width: 20%;
}

.details5 tbody td
{
	border: solid 1px #E8E8E8;
}
table.transactions 
{
	position: relative;
	float: left;
	margin-right: 5px;
	border: solid 1px #A6C1F1;
	margin-bottom: 5px;
	
}

.transactions thead td
{
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #D6DEED;
	padding: 0px;
}

table.claims 
{
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

	.claims thead td
{
	font: normal normal bold 10pt Arial, sans-serif;	
	background-color: #FAF4EF;
	width: 20%;
}

table.report 
{
	border: solid 1px #E8E8E8;
	margin-bottom: 5px;
}

	.report thead td
{
	font: normal normal bold 9pt Arial, sans-serif;	
	background-color: #FAF4EF;
}

table.additional
{
	border: Solid 1px Black;
	margin-bottom: 10px;
}

.additional thead td
{
	font: normal normal bold 10pt Arial, sans-serif;	
	background-color: #F1F5FD;
	height: 30px;
}

.additional td
{
	vertical-align: top;
	border: Solid 1px Black;
	width: 50%;
}

.news
{
	font: normal 11px/13px Arial, sans-serif;
	color: #5F7C8A!important; font-size:22px!important;
}

.indexPL9 td
{
	font: normal 12px Arial, sans-serif;
}

.news a, .news a:hover
{
	font: normal 11px/13px Arial, sans-serif;
	color: #1C509F;
	text-decoration:underline;
}

.fs10pt
{
	font: normal normal normal 10px Arial, sans-serif;
}

.fs11pt
{
	font: normal normal normal 11px Arial, sans-serif;
}

.fs12pt
{
	font: normal normal normal 12px Arial, sans-serif;
}

.fs13pt
{
	font: normal normal normal 13px Arial, sans-serif;
}

.bold12
{
	clear: both;
	margin: 0px;
	font: normal normal bold 12pt Arial, sans-serif;
}


/* [BRANDING2008] Changed color */
.pageHead
{
	clear: both;
	margin: 0px;
	font: normal normal bold 20pt HelveticaNeue-Light, sans-serif;
	color: #000;
	/*vertical-align:bottom;*/
	font-weight: normal;
}

.subHead
{
	clear: both;
	margin: 0px;
	font: normal normal bold 12pt Arial, sans-serif;
	color: #044EA2;
	vertical-align:bottom;
}

.subHead2
{
	clear: both;
	margin: 0px;
	font: normal normal bold 11pt Arial, sans-serif;
	color: #044EA2;
	vertical-align:bottom;
}

.adminTitle
{
	clear: both;
	margin: 0px;
	vertical-align:bottom;
	padding-left: 5px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #ABA696;
	height: 25px;
	vertical-align: middle;
}

.adminTitle a
{
	color: #4D5798;
	font: bold normal 11px Arial, sans-serif;
	text-decoration:none;
}

.bold11
{
	clear: both;
	margin: 0px;
	font: 11px Arial, sans-serif;
	font-style: normal;
	
	color: #48402A;
	
}

.bold12black
{
	clear: both;
	margin: 0px;
	font: bold normal 12px Arial, sans-serif;
	color: #000000;
        padding-left:0px;
}

.blue10
{
	clear: both;
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #0808A6;
}

.tinyleft
{
	text-align: left;
	font: normal normal normal 10px Arial, sans-serif;
	margin: 0px;
}

.tiny
{
	text-align: right;
	font: normal normal normal 10px Arial, sans-serif;
	padding-top: 10px;
	margin: 0px;
}

.tiny2
{
	text-align: right;
	font: normal normal normal 10px Arial, sans-serif;
	padding-top: 9px;
	margin: 0px;
}

.tiny3
{
	text-align: center;
	font: normal normal normal 10px Arial, sans-serif;
	padding-top: 9px;
	margin: 0px;
}

.disclaimer
{
	text-align: left;
	font: normal normal normal 10px Arial, sans-serif;
	padding-top: 9px;
	margin: 0px;
	color:#000000;
}

.redtile{
	background-color: red;
	margin-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}


.red
{
	color: Red;
}
.errorLabel
{
	color: #ff0000;
	clear: both;
	margin: 0px;
	font: bold normal 11px Arial, sans-serif;
}
.required
{
	color: #4D5798;
	clear: both;
	margin: 0px;
	font:  normal 11px Arial, sans-serif;
}

/* [BRANDING2008] Changed color */
/* [BRANDING2011] Change the color of the search label in footer*/
.searchlabel
{
	color: #222C80;
	clear: both;
	margin: 0px;
	font: 12px Arial, sans-serif;
	font-weight:bold;
}

/* [BRANDING2008] Increased line-height */
.home
{
	font: normal normal normal 12px Arial, sans-serif;
	line-height: 20px;
	
}

/* [BRANDING2008] Changed color */
.home a, .home a:hover
{
	color: #222c80;
	font: normal 12px Arial, sans-serif;
}

.home ul
{
	list-style-type: none;
	margin: 5px 0px 0px;
	padding: 5px 0px 0px;
	list-style-image: url(../Images/check.gif);
}

.home li
{
	margin: 0px 0px 2px;
	padding: 0px 0px 2px;

}

.faq
{
	font: normal normal normal 12px Arial, sans-serif;
	line-height: 11px;
}

.faq a, .home a:hover
{
	color: #ff8c00;
	font: normal 12px Arial, sans-serif;
	font-weight: bold;
}

.faq ul
{
	list-style-type: none;
	margin: 5px 0px 0px;
	padding: 5px 0px 0px;
	list-style-position: inside;
	list-style-type: none;
}

.faq li
{
	margin: 0px 0px 2px;
	padding: 0px 0px 2px;

}

.hr td
{
	border-bottom: 2px Solid #E3ECFB;
}

/* [BRANDING2008] Changed background color */
.altColor
{
	background-color: #ededed;
}
.altcolor
{
	background-color: #ededed;
}
.altColor2 td
{
	background-color: #ededed;
}

.button1
{
	padding: 1px 3px 1px 3px;
	background-color: #EEEEE9;
	border: 1px Solid #7B9BFF;
}
.resultstext {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.tabon {
	background-color: #E8E8E8;
	background-image: url(../Images/tab_end.gif);
	background-repeat: no-repeat;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.taboff {
	background-color: #D7D6D6;
	background-image: url(../Images/tab_end.gif);
	background-repeat: no-repeat;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}
.tablink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.tablink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000066;
	text-decoration: none;
}

.linkslong
{
	position: relative;
	float: right;
	width: 320px;
	border-top: 2px none #F3F1EE;
	border-right: 2px solid #F3F1EE;
	border-bottom: 2px solid #F3F1EE;
	border-left: 2px solid #F3F1EE;
}

.linkslong p
{
	width: 100%;
	background-color: #949AC1;
	font: normal normal bold 12px Arial, sans-serif;
	height: 20px;
	text-indent: 10px;
	margin: 0px;
}


.linkslong div 
{
	height: 222px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
}

.linkslong ul
{
	list-style-type: none;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
}

.linkslong2
{
	position: relative;
	float: right;
	width: 320px;
	border-top: 2px none #F3F1EE;
	border-right: 2px solid #F3F1EE;
	border-bottom: 2px solid #F3F1EE;
	border-left: 2px solid #F3F1EE;
}

.linkslong2 p
{
	width: 100%;
	background-color: #949AC1;
	font: normal normal bold 12px Arial, sans-serif;
	height: 20px;
	text-indent: 10px;
	margin: 0px;
}


.linkslong2 div 
{
	height: 337px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
}

.linkslong2 ul
{
	list-style-type: none;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 5px;
}

.top
{
	vertical-align: top;
}

.nowrap
{
	white-space:nowrap;
}
	
#nowrap
{
	white-space:nowrap;
}

.searchscroll 
{
	height: 95px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}

.searchscroll2
{
	height: 200px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}

.resultsscroll 
{
	height: 170px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}

.resultsscroll2
{
	height: 240px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}


.apgscroll

{

	height: 63px;

	overflow: auto;

	scrollbar-face-color: #A6C1F1;

	scrollbar-shadow-color: #FFFFFF;

	scrollbar-highlight-color: #A6C1F1;

	scrollbar-3dlight-color: #A6C1F1;

	scrollbar-darkshadow-color: #000000;

	scrollbar-track-color: #E5E5E5;

	scrollbar-arrow-color: #000000; 

}




.securityscroll 
{
	height: 180px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}

.rolesscroll 
{
	height: 400px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}

.sub {
	color: #1C509F;
	text-decoration: none;
	background-color:#FFFFFF;
	border-top: 1px solid #003798;
	border-right: 1px solid #003798;
	border-bottom: none;
	border-left: 1px solid #003798;
}

.sub td
{
	border-bottom: 1px solid #003798;
	height:20px;
	padding-left: 4px;
	padding-right: 4px;
}

.sub a 
{
	text-decoration:none;
	font: normal 11px Arial, sans-serif;
	text-decoration:underline;
	
	}

.calendar, .calendar a, .calendar a:hover 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #1C509F;
	text-decoration: none;
	text-align:center;
	
}

table.calendar
{
	 border: 1px solid #003798;
}
.calendar thead
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1C509F;
}

.calendar td
{
	margin: 2px;
	padding: 4px;
}

.othermonth
{
	color:#999999;
}

/* [BRANDING2008] Changed background color */
.numberin
{
	background-color:#FF8C00;
}

/* [BRANDING2008] Changed background color */
.numberout
{
	background-color:#a3b5bc;
}


.securitytools
{
	background-color: #ABA696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

.securitytools a
{
	background-color: #ABA696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 20px;
	border: none;
}

.securitytools a:hover
{
	background-color: #ABA696;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	height: 20px;
	border: none;
}
.indent {
	padding-left: 25px;
}

.sitemap ul
{
	list-style-type: square;
	margin: 0px 0px 0px 9px;
	padding: 0px 0px 0px 0px;
	list-style-position: inside;
}

table.confirm 
{
	position: relative;
	margin-right: 15px;
	border: solid 1px #E8E8E8;
	margin:5px;
}

.confirm thead td
{
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #48402A;
	border-bottom: solid 1px #48402A;
	white-space: nowrap;
}

.confirm tbody td
{
	margin: 0px;
	font: normal normal Arial, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: #48402A;
	border: solid 1px #E8E8E8;
	white-space: nowrap;
}

.confirm2 thead td
{
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #48402A;
	border-bottom: solid 1px #48402A;
	white-space: nowrap;
}

.confirm2 tbody td
{
	margin: 0px;
	font: normal normal Arial, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #48402A;
	border: solid 1px #E8E8E8;
	white-space: nowrap;
}

.blue
{
	color: #4D5798;
	}
	
.trheight td
{
	height: 10px;
}


.notActive{
    font-size:9pt;
    font-family:helvetica;
    color:#ff0000;
 }

/* [BRANDING2008] Changed background color */
.altColor2 td
{
	background-color: #ededed;
}

/* [BRANDING2008] Changed background color */
.altColor3 td
{
	background-color: #FFFFFF;
	color:#ff0000;
}

.redfont td
{
	color:#ff0000;
}



.tinyleftRed
{
	text-align: left;
	font: bold bold bold 10px Arial, sans-serif;
	margin: 0px;
	color:#ff0000;
	font-weight: bold;
}

.tinyleftRedBold
{
	text-align: left;
	font:normal 10px Arial, sans-serif;
	font-weight: bold;
	margin: 0px;
	color:#ff0000;
	
}

.secBlue
{
	font: normal normal normal 11px Arial, sans-serif;
	color: blue;
}

.disabledButton
 {
	font: normal 10px Arial, sans-serif;
	font-weight: bold;
	color: black;
	background-color: gray;
	height: 17px;
	border: none;
	text-align: center;
	vertical-align: middle;
 }

.errorHeader
{
	clear: both;
	margin: 0px;
	font: 12px Arial, sans-serif;
	font-style: normal;
	font-weight:bold;
	color:#ff0000;
	

}
.error
{
	clear: both;
	margin: 0px;
	font: 12px Arial, sans-serif;
	font-style: normal;
	color:#ff0000;
}
.newspg
{
	font: normal 12px Arial, sans-serif;
}

.errorlabel
{
	text-align: left;
	font:normal 11px Arial, sans-serif;
	font-weight: bold;
	margin: 0px;
	color:#ff0000;	
}
/*[BRANDING2015] Added line-height */
.sitecopyhome
{
	font: normal normal normal 12px Arial, sans-serif;
	line-height: 20px;
    width: 100%;

}

/*[BRANDING2015] Added margins for the image */
.sitecopyhome img{
	 float:left; 
	 margin-right:15px;
	 margin-top: 9px;
}

/*[BRANDING2015] Added margins for the image */
.sitecopyhome .check{
	 margin-top: -6px;
	}

.tableHeading
{
	background-color:#e4e0d5;
	font-family:arial;
	font-weight:bold;
	color:#000000;
	font-size:10pt;
}
.backToResultsButton
{
	background-image:url(../Images/bg_backToResults.png);
	text-align: center;
	width: 120px;
	height: 20px;
}

.fs11ptFloatRight
{
	font: normal normal normal 11px Arial, sans-serif;
	padding:5px; float:right; padding-right: 25px	
}

.cdhp
{
	text-decoration: none;
	border-bottom: 2px dashed;
	
}

.subHeading11px
{
	font: normal 11px Arial, sans-serif;
	font-weight: bold;	
}

.instructionText
{
	font:normal 11px Arial;
	font-color:#48402a;
}

.darkGrayBorder
{
	border: solid 1px #666666;
}

.orangeBorder
{
	border: solid 1px #c76708;
}

.headerText

{

font: 15px Arial;
font-weight: bold;
font-color:#000000;

}



.dupNotifBlue
{
	font: normal normal bold 12px Arial;
	font-color:#1C509F;
}

table.grayBorder
{
	border: solid 1px #CCCCCC; 
	border-bottom: none;
	margin-bottom: 5px;
}
.grayBorder td 
{
	border-left: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
}


.grayBorder thead
{
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
	color: #000000;
	white-space: nowrap;
	background-color: #E4E0D5;
	width: 20%;
}

.headerRow
{
	background-color:#F8EDE4;
	font: bold 11px Arial;
	font-color:#48402A
}

.subHeader
{
	font: bold 11px Arial;
	font-color:#48402A
}

.dashedBorder
{
	font: 12px Arial;
	font-weight: bold;
	color:	#1C509F;
	border-bottom: dashed 1px;
}

.popUpIframeStyle 
{
	display:none; 
	position:absolute; 	
	left:300px; 
	width:380px; 
	height:200px; 
	vertical-align:bottom;
}

.popUpDivStyle 
{
	position:absolute; 
	width:380; 
	z-index:1; 
	layer-background-color: #ED9FC8; 
	visibility: hidden; 
	left: 300px;
}

.loginNew

{

font: bold 11px Arial, sans-serif;

font-weight:bold;

text-decoration:none;

vertical-align: top;

margin-left: 20px;

text-indent: 10px;


}
.disclaimer11

{

      text-align: left;

      font: normal normal normal 11px Arial, sans-serif;

      padding-top: 9px;

      margin: 0px;

      color:#000000;

}

.LCHeading
{
	background-color:#e4e0d5;
	font-family:arial,normal,underlined;
	color:#1C509F;
	font-size:11px;
	height:20;
}
 .LCOddRow
{
	background-color:White;
	font-family:arial,normal;
	font-color:Black;
	font-size:11px;
	
}
.LCEvenRow
{
	background-color:#F8EDE4;
	font-family:arial,normal;
	font-color:Black;
	font-size:11px;
}
.LCMarginLeft
{padding-left: 20px;
	
	}

.inputnew
{
  font: normal 11px Arial, sans-serif;
  color: #48402A
  background-color: #e5e3de;
  border: 1px;
  border-color: #695D54;
  border-style:solid;
  width: 60px;
  }


.sideonnew
{ 
font: normal 11px Arial, sans-serif;
font-weight:bold;
text-decoration: none;
color: #48402A;
}


table.details3new 
{
 position: relative;
 float: none;
 border: solid 1px #E8E8E8;
 margin-bottom: 5px;
}

.reviewAlert
{
 color: #000000;
 font:  bold normal 11px Arial, sans-serif;
}

modified error

 

.error
{
 clear: both;
 margin: 0px;
 font: 11px Arial, sans-serif;
 font-style: normal;
 font-weight: bold;
 color:#ff0000;
}

.headerElgs {
	background: #E4E0D5;
	}

.divCenter
{
	position:absolute;
	left:50%;
	width:400px;
	overflow:auto;
	margin-left:-200px;
	margin-top: 20px;
}

.labelLink a:link {
	text-decoration: none;
	color:black;
}

.labelLink a:visited {
	text-decoration: none;
	color:black;
}

.labelLink a:hover {
	text-decoration: underline;
	cursor: default;
	color:black;
}
dlgtheader {
color:black; font-size:12px;font-weight:bold;
}

.dlgtheader a:link{
color:black; font-size:12px;font-weight:bold;text-decoration:none;
}

.dlgtheader a:visited{
color:black; font-size:12px;font-weight:bold;text-decoration:none;
}
.dlgtheader a:hover{
	color:black; font-size:12px;font-weight:bold;text-decoration:underline;
	}
.dashboardMedica
{
	height: 58px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url("../Images/spacer2.jpg") repeat-x top left;
	
}
.favoriteScroll 
{
	height: 200px;
	background: #F3EDDD;
	width:300px;
	overflow: auto;
	scrollbar-face-color: #A6C1F1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #A6C1F1;
	scrollbar-3dlight-color: #A6C1F1;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #000000; 
	
}
.sitecopyhomeUhc
{
	font: normal normal normal 12px Arial, sans-serif;
	width:100%;
	text-align: left;
}
.cmaBodyText
{
	font: normal normal normal 12px Arial, sans-serif;
	line-height: 14px;
    text-align: left;
}

/* [BRANDING2015] Added a new class used in Global and top Navigation bar */
.gradientBar {
    text-align:center;
	vertical-align:center;
	padding-left: 0px;	
	border-right:1px medium #FFFFFF;
	padding-right: 0px;
	background-color: #083D7F;
	height:55px;
	
	
}
.topnav{
    background-image:none!important;
    background-color:#fff!important;
    padding-right:0px!important;
    text-align: left !important;

}

.topnav .navbuttons{
    color:#69767c;
    padding:15px;

}
.content2{
    background: #E8E8E8;
    width: 100%;
    min-height: 270px;
   

}
.contentbox{
    background-color:#fff;
    box-shadow: 0px 1px 7px -1px #B5ACAC;
	-webkit-border-radius: 4px;    
	-moz-border-radius: 4px; 
    border-radius: 4px;
    min-height: 123px;
    margin: 0px 5% 10px;
    padding: 15px;
    float: left;
    width: 87%;
    font-family: arial;
    color:#3E3A3A;
    border: 1px solid #b5acac;
	
	
}


.contentbox h1{
    color: #FF6815;
    font-weight: normal;
    margin-top: 0px;
    font-size: 35px;
}

.contentbox h3{
    margin-top: 5px;
    margin-bottom: 4px;
    color:#3E3A3A;
}

/*For patient eligibility check image as list*/
.contentbox ul{
    margin: 20px;
    padding: 0px;
    list-style: outside none none;
    list-style-image: url(../Images/check.gif);
}
.contentbox li{
    margin: 0 24px 20px;
    padding: 0px; 
    min-height: 24px;
    padding-right:0px;
    padding-left: 0px;
    font-size: 12px;
    margin-bottom:20px;
    line-height: 16px;

}

.contentbox .imageSet img{
	width: 100%;
}

.contentbox .rightbox li{
    margin-bottom: 10px;
}


.button_orange{
    background-color:#E1733E!important;
    margin-left: 0px;
    margin-right: 12px;
    font-size: 14px;
}
.errorClinical
{
	color: #ff0000;
	clear: both;
	margin: 0px;
	font: normal normal bold 10pt Arial, sans-serif;
}

.full-width-text{
    width:100%;
    font: normal normal  10pt Arial, sans-serif;

}

.selected-nav a{
    color: #ffffff;
    padding-right: 0px;
    line-height: normal;
    font-weight: 600;
}
.selected-nav-parent a{
    color: #000;
    padding-right: 0px;
    line-height: normal;
    font-weight: 600;
}

.selected-nav a:hover{
    color: #ffffff;
    padding-right: 0px;
    line-height: normal;
}

.selected-nav-sub a{
     font: normal normal 11px Arial, sans-serif;
     text-decoration: none;
     color: #000;
     line-height: 22px;
     color:#000000;
     font-weight: 200;
}

.selected-nav-sub a:hover{
    font: normal normal 11px Arial, sans-serif;
    text-decoration: none;
    color: #000;
    line-height: 22px;
    color:darkorange;
    font-weight: 200;
}

.new-list li{
    margin-bottom: 15px;
}

.new-list a{
    font: normal normal 11px Arial, sans-serif;
    line-height: 22px;
    color:darkorange;
    font-size: 16px;
    font-weight: 200;
    text-decoration: underline;
}
.new-list a:hover{
    font-weight: bold;
}

a, img {
    border:none;
    outline:none;
}

.content3{
background: #fff;
width: 100%;
min-height: 270px;

}

#printPortion table tr td li
{
margin-left: 12px;
}

.wrapText2 {

margin-left: 36px;
width:90%;

}

.selected-nav-parent a{
    color: #000;
    padding-right: 0px;
    line-height: normal;
    font-weight: 600;
}

.sideon-parent
{ 
      font: normal 11px Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    background: #D8D8D8  ;
    color: #000000;
    padding: 3px;

}

.button, input, optgroup, select, textarea{
margin: 3px;
}

.topnav .navbuttons:hover{
color:#ff8c00;
font-weight:bold;
}

.newbottom a:hover{
font-weight:bold;
}

b, b:hover
{
font-weight:bold;
}

Strong:hover
{
font-weight:bold;
}
.tilewidth{
width:100%;
}
