<head>
  <title>Master Detail view for CPT codes</title>
  <script src='../lib/jquery-3.1.0.min.js'></script>
  <link rel='stylesheet' type='text/css' href='../lib/bootstrap.min.css'>
  <script src='../lib/bootstrap.min.js'></script>
  <script src='../js/detail.js'></script>
</head>
<body>
  <div class='container'>
  <form class='form-horizontal'>
    <div class='form-group'>
      <label for='inputPlace' class='col-xs-3 control-label'>
        Place of Service</label>
        <div class='col-xs-3'>
          <input type='text' class='form-control' id='inputPlace'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputEmg' class='col-xs-3 control-label'>
        EMG</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputEmg'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputModA' class='col-xs-3 control-label'>
        Modifier A</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputModA'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputModB' class='col-xs-3 control-label'>
        Modifier B</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputModB'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputModC' class='col-xs-3 control-label'>
        Modifier C</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputModC'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputModD' class='col-xs-3 control-label'>
        Modifier D</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputModD'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputCharge' class='col-xs-3 control-label'>
        Charges</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputCharge'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputDays' class='col-xs-3 control-label'>
        Days or Units</label>
        <div class='col-xs-9'>
          <input ty6pe='text' class='form-control' id='inputDays'/>
        </div>
    </div>
    <div class='form-group'>
      <label for='inputEpsdt' class='col-xs-3 control-label'>
        EPSDT Family Plan</label>
        <div class='col-xs-9'>
          <input type='text' class='form-control' id='inputEpsdt'/>
        </div>
    </div>
  </form>
</body>
</div>
